# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables and secrets
.env
.streamlit/secrets.toml

# System files
.DS_Store
Thumbs.db